/*====================================
Default Theme
--------------------------------------
Fonts : Raleway & open Sans
--------------------------------------
color:
    Moon Yellow:       #f4c613
    Grey       :       #212226
    White Smoke:       #f4f4f4
    white      :       #fff
    Black      :       #000
======================================*/

/*====================================
               Html & Body
====================================*/

html,
body {
	height: 100%;
}

body {
	color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

section {
	background: #fff;
	overflow: hidden;
}


/*====================================
Preloader
====================================*/

#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

#status {
	background-image: url("../img/solo-images/preloader/preloader.gif");
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -35px;
	margin-left: -35px;

}

/*====================================
               Home
====================================*/

#home {
	background: none;
	height: 100%;
}


#home-bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	background: url(../video/solo.jpg) no-repeat;
	background-size: cover;

}

#home-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

}

#home-content {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-inner {
	display: table-cell;
	vertical-align: middle;
}

#home-heading h1 {
	color: #fff;
	font-size: 65px;
	font-weight: 100;
	display: inline-block;
	margin: 0;

}

#home-heading h1 span {
	color: #f4c613;
	font-weight: 500;
}

/*====================================
               Button
====================================*/

#home-text p {
	color: #fff;
	font-size: 17px;
	font-weight: 100;
	margin: 8px 0 30px 0;
}

.btn-general {
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	border-radius: 28px;
	margin: 0 6px;
	padding: 12px 46px 12px 46px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-home {
	color: #fff;
	border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
	color: #fff;
	background-color: #f4c613;
	border: 1px solid #f4c613;
}

.btn-yellow {
	color: #fff;
	border: 1px solid #f4c613;
	background: #f4c613;
}

.btn-yellow:hover,
.btn-yellow:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #f4c613;
}

.btn-white {
	color: #212226;
	border: 1px solid #fff;
	background: #fff;
}

.btn-white:hover,
.btn-white:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #f4c613;
}

#arrow-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	color: #fff;
	font-size: 45px;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
	color: #f4c613;
}

/*====================================
            About 01
====================================*/

.content-box-lg {
	padding: 120px 0;
}

.vertical-heading h5 {
	color: #f4c613;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	word-spacing: 9px;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	top: 60px;
	left: -53px;
}

.vertical-heading h2 {
	margin: 0 0 0 35px;
	font-size: 42px;
	font-weight: 100;
	line-height: 45px;
}

#about-right p:first-child {
	margin-bottom: 30px;
}

#about-bottom {
	margin-top: 60px;
}

#about-bottom img {
	margin: 0 auto;
}

/*====================================
            About 02
====================================*/

.content-box-md {
	padding: 100px 0;
}

#about-02 {
	background-color: #f4f4f4;
}

.about-item {
	background-color: #fff;

	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	padding: 80px 30px;
}

.about-item i {
	font-size: 42px;
	margin: 0;
}

.about-item h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.about-item hr {
	width: 45px;
	height: 3px;
	border: none;
	background-color: #f4c613;
	margin: 0 auto;
}

.about-item p {
	margin-top: 20px;
}

.about-item:hover {
	background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
	color: #fff;
}

.about-item:hover hr {
	background-color: #fff;
}

.about-item:hover i {
	transform: translateY(-20px)
}


.about-item,
.about-item i,
.about-item hr {
	transition: all 400ms ease-in-out;
}

/*====================================
            Team
====================================*/

#team-left .vertical-heading {
	min-height: 160px;
}

.team-member {
	margin: 8px;
	position: relative;
}

.team-member-overlay {
	background-color: rgba(33, 34, 38, .9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team-member-info {
	width: 100%;
	height: 100%;
	padding: 80px 0;
}

.team-member-info h6 {
	color: #f4c613;
	font-size: 16px;
}

.team-member-info p {
	color: #fff;
}

.team-member:hover .team-member-overlay {
	opacity: 1;
}

ul.social-list {
	padding: 0;
	margin-top: 20px;
}

ul.social-list li {
	display: inline-block;
	padding: 0;
}

ul.social-list li a {
	border: 1px solid #fff;
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	border-radius: 50%;
	color: #fff;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;

}

ul.social-list li:nth-child(1) a:hover {
	background-color: #3b5998;
	border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
	background-color: #00aced;
	border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
	background-color: #dd4b39;
	border-color: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
	color: #212226;
	font-size: 40px;
	background: none;
	margin: ;
	outline: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {

	color: #212226;
}

.owl-prev i {
	font-size: 40px;
}

.owl-next i {
	font-size: 40px;
}

.skill {
	margin-bottom: 20px;
}

.skill h4 {
	line-height: 62px;
	font-weight: normal;
	margin: 0;
}

.progress {
	height: 25px;
	border-radius: 0;
	background: #efefef;
	overflow: visible;
}

.progress-bar {
	background-color: #f4c613;
	position: relative;
}

.progress-bar span {
	font-size: 11px;
	font-weight: 100;
	font-family: "Open Sans" sans-serif;
	background: #212226;
	padding: 5px;
	position: absolute;
	left: 97%;
	top: -47px;

}

.progress-bar span:before {
	content: "";
	border-top: 8px solid #212226;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	bottom: -8px;
	left: 25%;
}

/*====================================
               Statement
====================================*/

#statement {
	background: url("../img/solo-images/tech/tech-quote.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#statement .content-box-lg {
	background-color: rgba(0, 0, 0, 0.3);
}

#tech-statement h3 {
	font-size: 28px;
	color: #fff;
	line-height: 45px;
}

#tech-statement p {
	font-size: 14px;
	color: #f4c613;
	font-family: "Raleway" sans-serif;
}


/*====================================
               Services-01
====================================*/

.horizontal-heading {
	margin-bottom: 80px;
}

.horizontal-heading h5 {
	font-size: 16px;
	color: #f4c613;
	display: inline-block;
	margin-bottom: 10px;
}

.horizontal-heading h3 {
	font-size: 42px;
	font-weight: 100;
	line-height: 45px;
	margin: 0;
}

#services-01 img {

	margin: 60px 0;
}

.service {
	margin: 35px 0;
}

.service i {
	font-size: 42px;
	margin: 0;
	-webkit-transition: 400ms all linear;
	transition: 400ms all linear;
}

.service:hover i {
	color: #f4c613;
	transform: translateX(-20px);
}

.service h5 {
	font-size: 12px;
	color: #f4c613;
	margin: 0 0 6px 0;
}

.service:hover h5 {
	color: #212226;
}

.service h4 {
	font-size: 24px;
	margin: 0 0 8px 0;
}

.service p {
	line-height: normal;
}

/*====================================
               Services-01
====================================*/

#services-02 {
	background: #f4f4f4;
}

#services-tabs ul {
	margin-bottom: 40px;
}

#services-tabs ul li {
	padding: 5px 30px;
}

#services-tabs ul li a {
	font-family: "Raleway" sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #212226;
	padding: 0;
	text-decoration: none;
}

#services-tabs ul li.r-tabs-state-active a {
	color: #f4c613;
	font-weight: 700;
	border-bottom: 3px solid #f4c613;
	padding-bottom: 5px;
	transition: border-color 300ms linear;
}

.service-tab img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.service-tab .col-md-6 {
	padding: 0;
}

.service-tab .tab-bg {
	background: #fff;
	padding: 59px 30px;
	min-height: 481px;
}

.service-tab h2 {
	font-size: 48px;
	font-weight: 100;
	color: #bbb;
	margin-bottom: 20px;

}

.service-tab h3 {
	font-size: 32px;
	color: #f4c613;
	margin-bottom: 30px;
}

.service-tab p {
	line-height: 24px;
	margin-bottom: 30px;
}

/*====================================
               Portfolio
====================================*/

#portfolio-wrapper {
	padding-bottom: 220px;
}

#portfolio .vertical-heading {
	margin-bottom: 50px;
}

.container-fluid .row.no-gutters [class*=col-] {
	padding: 0;

}


/*Filter Css*/

#isotop-filters {
	padding: 20px 25px 20px 0;
}

#isotop-filters button {
	font-family: "Raleway" sans-serif;
	font-size: 14px;
	font-weight: 700;
	background: transparent;
	box-shadow: none;
	padding-right: 35px;

}

#isotop-filters button span {
	display: block;
	-webkit-transition: border-color .4s ease-in-out;
	transition: border-color .4s ease-in-out;
}

#isotop-filters button.active span {
	color: #f4c613;
	border-bottom: 3px solid #f4c613;
}

/*Zoom Effect*/

.portfolio-item {
	overflow: hidden;
	position: relative;

}

.portfolio-item img {
	width: 100%;
	height: auto;
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}

.portfolio-item:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/*Overlay Effect*/

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 14, 17, 0.9);
	cursor: zoom-in;
	opacity: 0;
	-webkit-transition: all .8s;
	transition: all .8s ease;
}

.portfolio-item-details {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.portfolio-item-details h3 {
	color: #f4c613;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-20%);
	-webkit-transition: all .8s;
	transition: all .8s;
}

.portfolio-item-details span {
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 30px;
	height: 6px;
	margin: 11px auto 5px auto;
}

.portfolio-item-details p {
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(20%);
	-webkit-transition: all .8s;
	transition: all .8s;
}

.portfolio-item :hover .portfolio-item-details h3 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.portfolio-item :hover .portfolio-item-details p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.portfolio-item :hover .portfolio-item-overlay {
	opacity: 1;
}

/*====================================
              Testimonial
====================================*/

#testimonials {
	background: #f4f4f4;
	padding-bottom: 45px;
	overflow: visible;
}

#testimonials .vertical-heading {
	padding: 80px 0;
	margin-bottom: 50px;

}

.testimonial .row {
	margin-bottom: 25px;
}

#testimonial-slider {
	background: #f4c613;
	margin-top: -110px
}

.testimonial {
	padding: 30px 45px 30px 45px;
	color: #fff;
}

.testimonial h3 {
	font-size: 32px;
	line-height: 35px;
}

.testimonial .stars {
	font-size: 20px;
	margin-bottom: 20px;
	color: #212226;
}

.testimonial p {
	line-height: normal;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 20px;
}

.author .author-nam-des {
	width: 120px;
	text-align: left;
	margin-top: 15px;

}

.author .author-nam-des p {
	margin: 0;
	color: #212226;
	font-weight: 500px;

}

/*====================================
               Pricing
====================================*/

.pricing-table {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 6px;
	padding: 32px 21px;
	transition: all 400ms linear;
}

.pricing-table:hover {
	background: #f4c613;

}

.pricing-table .type h4 {
	font-size: 24px;
	color: #f4c613;
	margin-bottom: 25px;
}

.pricing-table .price {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 24px 0;
}

.pricing-table .price h2 {
	font-family: "Open-Sans" sans-serif;
	font-size: 42px;
	font-weight: 100;
	margin: 0 0 0 24px;
	position: relative;
}

.pricing-table .price h2 span {
	font-family: "Raleway" sans-serif;
}

.pricing-table .price h2 span.dollar {
	font-size: 18px;
	font-weight: 400;
	position: absolute;
	top: 5px;
	left: -20px;
}

.pricing-table .price h2 span.month {
	font-size: 11px;
	font-weight: 400;
	position: absolute;
	left: 5px;
	bottom: -12px;
}

.pricing-table .price p {
	line-height: normal;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

.pricing-table ul.packadge {
	list-style: none;
	padding: 20px 0;
}

.pricing-table ul.packadge li {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 40px;
}

.pricing-table ul.packadge li i {
	width: 24px;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.packadge {
	color: #fff;
}

#pricing-btn .btn-yellow {
	width: 96%;
}

.pricing-table:hover .btn-yellow {
	background: #fff;
	color: #212226;
}

.pricing-table .btn-yellow:hover,
.pricing-table .btn-yellow:hover {
	background: #212226;
	color: #fff;
	border: 1px solid #212226;
}

.pricing-table.black {
	background: #212226;
	color: #fff;
}

.pricing-table.black h4 {
	color: #fff;
}

.pricing-table.black:hover {
	background: #f4c613;
}

#pricing-btn .btn-white {
	width: 96%;
}

/*====================================
               Stats
====================================*/

#stats {
	background: url("../img/solo-images/stats/stats-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#stats .content-box-md {
	background-color: rgba(0, 0, 0, 0.3);
}

#stats .vertical-heading {
	margin-bottom: 50px;
}

#stats .vertical-heading h2 {
	color: #fff;
}

.stats-item {
	background: rgba(61, 68, 68, 0.6);
	min-height: 170px;
	padding: 25px 50px;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
}

.stats-item i {
	font-size: 42px;
	color: #f4c613;
	margin: 0 0 6px 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
}

.stats-item h2 {
	font-size: 32px;
	color: #fff;
	margin: 5px 0 5px 0;

}

.stats-item p {
	color: #fff;
	margin: 0;

}

.stats-item:hover {
	background: #f4c613;
}

.stats-item:hover i {
	color: #212226;
	transform: translateY(-20px);
}

/*====================================
             Client
====================================*/

.content-box-sm {
	padding: 90px 0;
}

#clients .horizontal-heading {
	margin-bottom: 30px;
}

#client-list {
	padding: 45px 0 0 0;
}

.client {
	padding: 0 10px;
	max-width: 150px;
	line-height: 100px;
	margin: 0 auto;
}

.client img {
	display: inline-block !important;
}

/*====================================
               Blog
====================================*/

#blog {
	background: #f4f4f4;
}

#blog-left p {
	margin: 25px 0;
}

#blog-btn a {
	margin: 0;
}

.blog-post {
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.blog-post h4 {
	line-height: 40px;
	margin: 0;
}

.blog-post > p {
	line-height: 24px;
	margin: 0;
	font-weight: 300;
}

.blog-post a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	margin-top: 25px;
	font-weight: 500;
	color: #f4c613;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
}

.blog-post a:hover {
	color: #212226;
}

.post-meta {
	border-top: 1px solid #e0e0e0;
	margin-top: 30px;
	padding-top: 10px;
}

.post-meta p {
	font-size: 11px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	line-height: 24px;
	margin: 0;
}

/*====================================
             Contact
====================================*/

#contact-left p {
	margin: 25px 0 20px 0;

}

ul.office-details {
	list-style: none;
	padding: 0;

}

ul.office-details li {
	margin-top: 12px;
	font-family: "Open Sans", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

ul.office-details li i {
	font-size: 20px;
	width: 45px;

}

#contact-left ul.social-list li a {
	color: #212226;
	text-align: center;
	border: 1px solid #212226;
}

#contact-left ul.social-list li a:hover {
	color: #fff;
	border-color: transparent;
}

.office h4 {
	color: #f4c613;
	font-weight: 700;
}

#contact-right {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	padding: 25px 30px;
	border-radius: 5px;
}

#contact-right h4 {
	font-size: 24px;
}

#contact-right p {
	margin-bottom: 25px;
}

#contact-right form .form-control {
	padding: 10px 25px;
	font-family: "Open Sans" sans-serif;
	line-height: 24px;
}

#contact-right form textarea.form-control {
	min-height: 164px;
}

/*====================================
             Footer
====================================*/

footer {
	background: #212226;
	padding: 30px;
}

footer p {
	color: #fff;
	line-height: 20px;
}

footer p span {
	color: #f4c613;
}